[submodule ".\\hardware\\chisel\\soDLA"]
	path = .\\hardware\\chisel\\soDLA
	url = https://github.com/soDLA-publishment/soDLA.git
[submodule "hardware/chisel/soDLA"]
	path = hardware/chisel/soDLA
	url = https://github.com/soDLA-publishment/soDLA
